In [9]:
from Utils.Utils import *
from Utils.Blacksmith import * 

from scipy import stats

In [2]:
PATH = "/home/baharoon/HTN/data/"
CSV_PATH = {"HTNPath": PATH + r"HTN", "NonHTNPath": PATH + "NonHTN"}

data = get_processed_dataframe(CSV_PATH, normalize=False, standardize=False)

# Describe entire dataset

In [3]:
n_patients = data["MRN"].nunique()

In [4]:
n_patients

1243

In [5]:
data_unique = data.drop_duplicates("MRN")

In [6]:
data_unique["Age"].describe()

count    1243.000000
mean       58.687047
std        13.574725
min        18.000000
25%        52.000000
50%        61.000000
75%        67.000000
max        99.000000
Name: Age, dtype: float64

In [7]:
# 1 is male
data_unique['Gender'].value_counts()

0    699
1    544
Name: Gender, dtype: int64

In [8]:
data_unique['Gender'].value_counts(normalize=True)

0    0.562349
1    0.437651
Name: Gender, dtype: float64

# Target value specific analysis

In [11]:
htn = data_unique[data_unique['HTN'] == 1]
non_htn = data_unique[data_unique['HTN'] == 0]

In [12]:
htn["Age"].describe()

count    703.000000
mean      63.243243
std       10.269544
min       25.000000
25%       58.000000
50%       63.000000
75%       69.000000
max       99.000000
Name: Age, dtype: float64

In [13]:
htn['Gender'].value_counts()

0    393
1    310
Name: Gender, dtype: int64

In [14]:
htn['Gender'].value_counts(normalize=True)

0    0.559033
1    0.440967
Name: Gender, dtype: float64

In [15]:
non_htn["Age"].describe()

count    540.000000
mean      52.755556
std       14.997819
min       18.000000
25%       42.000000
50%       56.000000
75%       64.000000
max       88.000000
Name: Age, dtype: float64

In [16]:
non_htn['Gender'].value_counts()

0    306
1    234
Name: Gender, dtype: int64

In [17]:
non_htn['Gender'].value_counts(normalize=True)

0    0.566667
1    0.433333
Name: Gender, dtype: float64

# Sex-specific analysis

In [18]:
data_unique[data_unique["Gender"] == 0]["Age"].describe()

count    699.000000
mean      57.931330
std       13.222837
min       18.000000
25%       53.000000
50%       61.000000
75%       66.000000
max       99.000000
Name: Age, dtype: float64

In [19]:
data_unique[data_unique["Gender"] == 1]["Age"].describe()

count    544.000000
mean      59.658088
std       13.966179
min       18.000000
25%       52.000000
50%       62.000000
75%       69.000000
max       92.000000
Name: Age, dtype: float64

In [20]:
htn[htn["Gender"] == 1]["Age"].describe()

count    310.000000
mean      63.703226
std       11.521290
min       25.000000
25%       58.000000
50%       65.000000
75%       71.750000
max       92.000000
Name: Age, dtype: float64

In [37]:
data = data_unique[data_unique["Gender"] == 1]["Age"]
mean = data.mean()
sem = stats.sem(data)

confidence_level = 0.95
ci = stats.t.interval(alpha=confidence_level, df=len(data)-1, loc=mean, scale=sem)

In [38]:
ci

(58.481849872382185, 60.83432659820605)

In [23]:
htn[htn["Gender"] == 0]["Age"].describe()

count    393.000000
mean      62.880407
std        9.161446
min       27.000000
25%       58.000000
50%       63.000000
75%       68.000000
max       99.000000
Name: Age, dtype: float64

In [24]:
non_htn[non_htn["Gender"] == 1]["Age"].describe()

count    234.000000
mean      54.299145
std       15.096977
min       18.000000
25%       43.000000
50%       57.000000
75%       65.750000
max       88.000000
Name: Age, dtype: float64

In [25]:
non_htn[non_htn["Gender"] == 0]["Age"].describe()

count    306.000000
mean      51.575163
std       14.838007
min       18.000000
25%       41.000000
50%       55.000000
75%       62.750000
max       88.000000
Name: Age, dtype: float64

In [31]:
htn[(htn["Gender"] == 1) & (htn["DM"] == 1)]["Age"].describe()

count    295.000000
mean      63.610169
std       11.366224
min       25.000000
25%       58.000000
50%       64.000000
75%       71.000000
max       92.000000
Name: Age, dtype: float64

In [ ]:
# Diabetes

In [46]:
data_unique[(data_unique["Gender"] == 1) & (data_unique["DM"] == 1)]["Age"].describe()

count    425.000000
mean      60.731765
std       13.626194
min       18.000000
25%       55.000000
50%       63.000000
75%       69.000000
max       92.000000
Name: Age, dtype: float64

In [47]:
data_unique[(data_unique["Gender"] == 0) & (data_unique["DM"] == 1)]["Age"].describe()

count    553.000000
mean      58.755877
std       12.438402
min       18.000000
25%       54.000000
50%       61.000000
75%       66.000000
max       99.000000
Name: Age, dtype: float64

In [41]:
htn[(htn["Gender"] == 1) & (htn["DM"] == 1)]["Age"].describe()

count    295.000000
mean      63.610169
std       11.366224
min       25.000000
25%       58.000000
50%       64.000000
75%       71.000000
max       92.000000
Name: Age, dtype: float64

In [42]:
htn[(htn["Gender"] == 0) & (htn["DM"] == 1)]["Age"].describe()

count    373.000000
mean      62.769437
std        8.844865
min       27.000000
25%       58.000000
50%       63.000000
75%       68.000000
max       99.000000
Name: Age, dtype: float64

In [43]:
non_htn[(non_htn["Gender"] == 1) & (non_htn["DM"] == 1)]["Age"].describe()

count    130.000000
mean      54.200000
std       15.934167
min       18.000000
25%       43.250000
50%       58.000000
75%       65.000000
max       88.000000
Name: Age, dtype: float64

In [44]:
non_htn[(non_htn["Gender"] == 0) & (non_htn["DM"] == 1)]["Age"].describe()

count    180.000000
mean      50.438889
std       14.539549
min       18.000000
25%       40.000000
50%       54.000000
75%       62.000000
max       84.000000
Name: Age, dtype: float64

# Patient target distribution

In [32]:
patient_htn_size = htn.drop_duplicates(subset='MRN').shape[0]
patient_htn_size

703

In [33]:
patient_nonhtn_size = non_htn.drop_duplicates(subset='MRN').shape[0]
patient_nonhtn_size

540

In [34]:
print(f"Hypertensive patients percentage {patient_htn_size / (patient_htn_size + patient_nonhtn_size)}")
print(f"Non-hypertensive patients percentage {patient_nonhtn_size / (patient_htn_size + patient_nonhtn_size)}")

Hypertensive patients percentage 0.5655671761866452
Non-hypertensive patients percentage 0.4344328238133548

# Split specific target distribution

In [25]:
train_set, val_set, test_set = get_datasets(val=True)

In [26]:
train_set_n, train_set_htn_n = train_set.shape[0], train_set[train_set['Hypertension'] == 1].shape[0]
train_set_nonhtn_n = train_set_n - train_set_htn_n 

val_set_n, val_set_htn_n = val_set.shape[0], val_set[val_set['Hypertension'] == 1].shape[0]
val_set_nonhtn_n = val_set_n - val_set_htn_n

test_set_n, test_set_htn_n = test_set.shape[0], test_set[test_set['Hypertension'] == 1].shape[0]
test_set_nonhtn_n = test_set_n - test_set_htn_n 

print(
f"""Train set size: {train_set_n} 
Train set hypertensive count: {train_set_htn_n} 
Train set non-hypertensive count: {train_set_nonhtn_n} 
Train set hypertensive patients percentage: {train_set_htn_n / train_set_n}
Train set non-hypertensive patients percentage: {train_set_nonhtn_n / train_set_n} 

Validation set size: {val_set_n}
Validation hypertensive count: {val_set_htn_n}
Validation non-hypertensive count: {val_set_nonhtn_n}
Validation set hypertensive patients percentage: {val_set_htn_n / val_set_n}
Validation set non-hypertensive patients percentage: {val_set_nonhtn_n / val_set_n} 

Test set size: {test_set_n} 
Test set hypertensive count: {test_set_htn_n}
Test set non-hypertensive count: {test_set_nonhtn_n} 
Test set hypertensive patients percentage: {test_set_htn_n / test_set_n}
Test set non-hypertensive patients percentage: {test_set_nonhtn_n / test_set_n} 
""")

Train set size: 686
Train set hypertensive count: 333
Train set non-hypertensive count: 353
Train set hypertensive patients percentage: 0.48542274052478135
Train set non-hypertensive patients percentage: 0.5145772594752187

Validation set size: 229
Validation hypertensive count: 111
Validation non-hypertensive count: 118
Validation set hypertensive patients percentage: 0.4847161572052402
Validation set non-hypertensive patients percentage: 0.5152838427947598

Test set size: 228
Test set hypertensive count: 113
Test set non-hypertensive count: 115
Test set hypertensive patients percentage: 0.4956140350877193
Test set non-hypertensive patients percentage: 0.5043859649122807