In [1]:
%run C:/Users/MohammedSB/Desktop/projects/Hypertension/Requirements.ipynb

In [2]:
PATH = r"D:\\MohammedSB\Fundus\\"
CSV_PATH = {"HTNPath": PATH + r"HTN", "NonHTNPath": PATH + "NonHTN"}

In [3]:
data = get_htn_dataframe(CSV_PATH, normalize=False, standardize=False)

# Describe entire dataset

In [4]:
n_patients = data["MRN"].nunique()

In [5]:
n_patients

626

In [6]:
data["Age"].describe()

count    1143.000000
mean       51.408574
std        19.862447
min         6.000000
25%        38.000000
50%        58.000000
75%        66.000000
max        89.000000
Name: Age, dtype: float64

In [7]:
# 1 is male
data['Gender'].value_counts()

0    603
1    540
Name: Gender, dtype: int64

In [8]:
data['Gender'].value_counts(normalize=True)

0    0.527559
1    0.472441
Name: Gender, dtype: float64

# Target value specific analysis

In [9]:
htn = data[data['Hypertension'] == 1]
non_htn = data[data['Hypertension'] == 0]

In [10]:
htn["Age"].describe()

count    557.000000
mean      61.412926
std       11.672157
min       13.000000
25%       55.000000
50%       62.000000
75%       70.000000
max       89.000000
Name: Age, dtype: float64

In [11]:
htn['Gender'].value_counts()

0    297
1    260
Name: Gender, dtype: int64

In [12]:
htn['Gender'].value_counts(normalize=True)

0    0.533214
1    0.466786
Name: Gender, dtype: float64

In [13]:
non_htn["Age"].describe()

count    586.000000
mean      41.899317
std       21.325762
min        6.000000
25%       22.000000
50%       43.000000
75%       61.000000
max       84.000000
Name: Age, dtype: float64

In [14]:
non_htn['Gender'].value_counts()

0    306
1    280
Name: Gender, dtype: int64

In [15]:
non_htn['Gender'].value_counts(normalize=True)

0    0.522184
1    0.477816
Name: Gender, dtype: float64

Sex-specific analysis

In [16]:
data[data["Gender"] == 0]["Age"].describe()

count    603.000000
mean      52.404643
std       18.168337
min        8.000000
25%       42.500000
50%       58.000000
75%       65.000000
max       89.000000
Name: Age, dtype: float64

In [17]:
data[data["Gender"] == 1]["Age"].describe()

count    540.000000
mean      50.296296
std       21.560571
min        6.000000
25%       34.000000
50%       57.000000
75%       67.000000
max       85.000000
Name: Age, dtype: float64

In [18]:
htn[htn["Gender"] == 1]["Age"].describe()

count    260.000000
mean      61.284615
std       13.278563
min       13.000000
25%       55.000000
50%       63.000000
75%       71.000000
max       85.000000
Name: Age, dtype: float64

In [19]:
htn[htn["Gender"] == 0]["Age"].describe()

count    297.000000
mean      61.525253
std       10.079760
min       24.000000
25%       56.000000
50%       62.000000
75%       68.000000
max       89.000000
Name: Age, dtype: float64

In [20]:
non_htn[non_htn["Gender"] == 1]["Age"].describe()

count    280.000000
mean      40.092857
std       22.745876
min        6.000000
25%       18.000000
50%       40.000000
75%       61.000000
max       82.000000
Name: Age, dtype: float64

In [21]:
non_htn[non_htn["Gender"] == 0]["Age"].describe()

count    306.000000
mean      43.552288
std       19.831558
min        8.000000
25%       26.250000
50%       47.000000
75%       61.000000
max       84.000000
Name: Age, dtype: float64

# Patient target distribution

In [22]:
patient_htn_size = htn.drop_duplicates(subset='MRN').shape[0]
patient_htn_size

309

In [23]:
patient_nonhtn_size = non_htn.drop_duplicates(subset='MRN').shape[0]
patient_nonhtn_size

317

In [24]:
print(f"Hypertensive patients percentage {patient_htn_size / (patient_htn_size + patient_nonhtn_size)}")
print(f"Non-hypertensive patients percentage {patient_nonhtn_size / (patient_htn_size + patient_nonhtn_size)}")

Hypertensive patients percentage 0.4936102236421725
Non-hypertensive patients percentage 0.5063897763578274