In [2]:
%run C:/Users/MohammedSB/Desktop/projects/Hypertension/Requirements.ipynb

In [3]:
PATH = r"D:\\MohammedSB\Fundus\\"
CSV_PATH = {"HTNPath": PATH + r"HTN", "NonHTNPath": PATH + "NonHTN"}

In [4]:
data = get_htn_dataframe(CSV_PATH, normalize=False, standardize=False)

# Describe entire dataset

In [5]:
n_patients = data["MRN"].nunique()

In [6]:
n_patients

626

In [7]:
data["Age"].describe()

count    1143.000000
mean       51.408574
std        19.862447
min         6.000000
25%        38.000000
50%        58.000000
75%        66.000000
max        89.000000
Name: Age, dtype: float64

In [8]:
# 1 is male
data['Gender'].value_counts()

0    603
1    540
Name: Gender, dtype: int64

In [10]:
data['Gender'].value_counts(normalize=True)

0    0.527559
1    0.472441
Name: Gender, dtype: float64

# Target value specific analysis

In [11]:
htn = data[data['Hypertension'] == 1]
non_htn = data[data['Hypertension'] == 0]

In [12]:
htn["Age"].describe()

count    557.000000
mean      61.412926
std       11.672157
min       13.000000
25%       55.000000
50%       62.000000
75%       70.000000
max       89.000000
Name: Age, dtype: float64

In [13]:
htn['Gender'].value_counts()

0    297
1    260
Name: Gender, dtype: int64

In [14]:
htn['Gender'].value_counts(normalize=True)

0    0.533214
1    0.466786
Name: Gender, dtype: float64

In [15]:
non_htn["Age"].describe()

count    586.000000
mean      41.899317
std       21.325762
min        6.000000
25%       22.000000
50%       43.000000
75%       61.000000
max       84.000000
Name: Age, dtype: float64

In [16]:
non_htn['Gender'].value_counts()

0    306
1    280
Name: Gender, dtype: int64

In [17]:
non_htn['Gender'].value_counts(normalize=True)

0    0.522184
1    0.477816
Name: Gender, dtype: float64